<html lang="ja">
    <head>
        <title>漢番付</title>
        <link rel="stylesheet" type="text/css" href="web/static/css/style.css">
        <link rel="stylesheet" type="text/css" href="web/static/css/comment.css">
        <link rel="shortcut icon" href="web/static/favicon.ico">
    </head>
    <body>
        <ul class="header">
            <li><a href="/">番付</a></li>
            <li><a href="/new">今週の漢</a></li>
            <li><a href="/search">探す</a></li>
            <li><a href="/commend">推薦する</a></li>
            <li>【漢】 {{.totalComment}} 人</li>
            <li>【情報提供者】 {{.totalAuthor}} 人</li>
        </ul>
        <h1>漢番付</h1>
        <div class="container">
        {{range .rankComments}}
            {{ if eq .Rank 1}}
                <div class="item gold">
            {{ else if eq .Rank 2}}
                <div class="item silver">
            {{ else if eq .Rank 3}}
                <div class="item bronze">
            {{ else }}
                <div class="item">
            {{end}}
                <div class="item-header">
                    {{.Rank}}位
                    <a href="https://www.youtube.com/channel/{{.ChannelID}}" target=”_blank”>{{.Name}}</a>
                </div>
                <div class="video-image">
                    <a href="https://www.youtube.com/watch?v={{.VideoID}}" target=”_blank”><img src="{{.ThumbnailURL}}"></a>
                </div>
                <div class="comment-text">
                    {{.TextDisplay}}
                </div>
                <table border="1">
                    <tr>
                        <th width="50%">漢力</th>
                        <th width="50%" class="comment-provider">情報提供者</th>
                        <th>共有</th>
                    </tr>
                    <tr>
                        <td class="like-count">{{.LikeCount}}</td>
                        <td><a href="{{.AuthorURL}}" target=”_blank”>{{.AuthorName}}</a></td>
                        <td>
                            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
                    class="twitter-share-button" data-text="全体{{.Rank}}位：{{.TextDisplay}}" data-url="https://www.youtube.com/watch?v={{.VideoID}}"
                    data-hashtags="漢番付" data-show-count="false">Tweet</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>    
                        </td>
                    </tr>
                </table>
            </div>
        {{end}}
        </div>
    </body>
</html>
