{{ define "commend/index.tmpl" }}
<html lang="ja">
    <head>
        <title>漢番付</title>
        <link rel="stylesheet" type="text/css" href="web/static/css/style.css">
        <link rel="stylesheet" type="text/css" href="web/static/css/commend.css">
        <link rel="shortcut icon" href="web/static/favicon.ico">
    </head>
    <body>
        <ul class="header">
            <li><a href="/">番付</a></li>
            <li><a href="/new">今週の漢</a></li>
            <li><a href="/search">探す</a></li>
            <li><a href="/commend">推薦する</a></li>
            <li>【漢】 {{.totalComment}} 人</li>
            <li>【情報提供者】 {{.totalAuthor}} 人</li>
        </ul>
        <h1>漢を推薦する</h1>
        <div class="search">
            <form method="post" action="/commend">
                <input name="query" type="text" placeholder="YouTube チャンネル名">
                <input type="submit" value="検索" class="search-button"></p>
            </form>
        </div>
        <div class="container">
        {{range .channels}}
            <div class="item">
                <div class="item-header">
                    <form method="post" action="/commend">
                        <a href="https://www.youtube.com/channel/{{.ChannelID}}" target=”_blank”>{{.Name}}</a>
                         {{if not .ExistsChannel}}
                            <input type='hidden' name='channel_id' value={{.ChannelID}}>
                            <input type="submit" value="推薦"  onClick="return confirm('{{.Name}} を推薦します');" class="commend-button">
                        {{end}}
                    </form>
                </div>
                <div class="item-container">
                    <div class="box-image">
                        <a href="https://www.youtube.com/channel/{{.ChannelID}}" target=”_blank”><img src="{{.ThumbnailURL}}"></a>
                    </div>
                    <div class="box-subscriber">
                        <table border="1">
                            <tr>
                                <th>チャンネル登録者</th>
                            </tr>
                            <tr>
                                <td>{{.SubscriberCount}}人</td>
                            </tr>
                        </table>
                    </div>
                    <div class="box-viewer">
                        <table border="1">
                            <tr>
                                <th>総動画再生回数</th>
                            </tr>
                            <tr>
                                <td>{{.ViewCount}}回</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        {{end}}
        </div>
    </body>
</html>
{{end}}