/* Grid */
.container {
    padding-left: 20px; 
    padding-right: 20px;
    padding-bottom: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.item {
    border: 8px solid rgb(204, 204, 204);
    position: relative;
    border-radius: 8px;
}

.gold {
    background-image: linear-gradient(to top left, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03);
}

.silver{
    background-image: linear-gradient(to top left, #A5A5A5, #BABAC2, #E8E8E8, #A5A5A5, #BABAC2);
}

.bronze{
    background-image: linear-gradient(to top left, rgb(194, 128, 128), rgb(203, 185, 113), rgb(254, 218, 218), rgb(203, 137, 137), rgb(120, 100, 42));
}

/* comment information */
.item-header{
    background-color:#eee;
    border: 8px solid rgb(204, 204, 204);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    text-align: left;
    font-size: 26px;
}

table{
    text-align: center;
    background-color: #aaa4;
    border-collapse: collapse;
    width: 450px;
    border: 4px solid rgb(204, 204, 204);
    position: absolute;
    bottom: 0;
}

table th{
    background-color: #aaa;
    font-size: 20px;
    padding: 4px;
    border: 4px solid rgb(204, 204, 204);

}

table td{
    font-size: 18px;
    padding: 10px;
    border: 4px solid rgb(204, 204, 204);
}

.like-count{
    font-size: 30px;
}

.comment-text{
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 1.5;
}

.comment-provider{
    font-size: 20;
}

.video-image{
    text-align: center;
}

img{
      width: 450;
      height: 300;
}


/* smartphone */
@media only screen and (max-device-width: 480px) {
    /* Grid */
    .container {
        grid-template-columns: 1fr;
        padding-left: 40px; 
        padding-right: 40px;
    }

    table{
        width: 900px;
    }

    img{
      width: 900;
      height: 600;
    }

    /* comment information */
    .item-header{
        font-size: 50px;
    }

    .comment-text{
        font-size: 50px;
    }
}

/* tablet */
@media only screen and (min-device-width: 480px)  and (max-device-width: 1024px) {
    /* Grid */
    .container {
        grid-template-columns: 1fr 1fr;
        padding-left: 40px; 
        padding-right: 40px;
    }
}