@font-face {
    font-family: 'KouzanMouhituFontOTF';
    src: url(/web/static/font/KouzanMouhituFontOTF.otf);    
}

body {
    font-family: KouzanMouhituFontOTF;
}

h1{
    font-weight: normal;
    text-align: center;
    margin-top: 28pt;
    margin-bottom: 28px;
    font-size: 80pt;
}

a {
    text-decoration: none;
    color: black;
}

* {
    margin: 0px;
    padding: 0px;
}

/* header */
.header{
    background-color: #aaa4;
}

li {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 12px;
    display: inline-block;
    font-size: 30px;
    width: (1/6) * 100%;
}  

.menu{
    text-align: left;
    float: left; 
}

/* smartphone */
@media only screen and (max-device-width: 480px) {
    /* header */
    li {
        font-size: 24px;
    }  
}

/* tablet */
@media only screen and (min-device-width: 480px)  and (max-device-width: 1024px) {
    /* header */
    li {
        font-size: 28px;
    }
}